@import "tailwindcss";

@font-face {
  font-family: "LemonMilk-regular";
  src: url("./assets/fonts/LEMONMILK-Regular.otf") format("opentype");
  font-style: normal;  
  font-display: swap;
}

@font-face {
  font-family: "LemonMilk-medium";
  src: url("./assets/fonts/LEMONMILK-Medium.otf") format("opentype");
  font-style: normal;  
  font-display: swap;
}

@font-face {
  font-family: "LemonMilk-bold";
  src: url("./assets/fonts/LEMONMILK-Bold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #16A296;
  --color-primary-dark: #139187;

  --color-secondary: #00AEEF;
  --color-secondary-dark: #009CD7;

  --color-accent:#BF1E2E;

  --color-lightTxt: #FFFDFD;
  --color-darkTxt: #1E1E1E;
  
  --color-colorBG: #FFF5E6;
  --color-whiteBG: #FFFCF7;

  --container-padding: 5vw;
  --container-padding-tight: 5vw;
  --navbar-height: 10vh;

  --font-title: "LemonMilk-medium", sans-serif;
  --font-subtitle: "LemonMilk-regular", sans-serif;
}